body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 30px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  font-family: A Pompadour Sample;
  background-color: #383d45;
  color: white;
  border-radius: 0;
}

.jumbotron p {
  font-family: sans-serif;
}

.description {
  white-space: pre-wrap;
  width: 75%;
  height: 100%;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #383d45;
  width: 90px;
}

.past {
  background-color: #383d45;
  color: white;
}

.present {
  background-color: #dc3545;
  color: white;
}

.future {
  background-color: #28a745;
  color: white;
}

.saveBtn {
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #287bff;
  background-image: url(../assets/images/calendar-plus-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  width: 8%;
  height: 100%;
}

.saveBtn i:hover {
  font-size: 20px;
  margin: 40px;
  transition: all 0.3s ease-in-out;
}

/* allows custom fonts to display on mobile browsers */
@font-face {
  font-family: "A Pompadour Sample";
  src: url("../assets/fonts/APompadourSample.ttf");
}
