body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 30px;
  background-color: #383d45;
}

.jumbotron {
  text-align: center;
  font-family: A Pompadour Sample;
  background-color: #383d45;
  color: white;
  border-bottom: solid 1px #696969;
  padding: 25px;
  margin-bottom: 45px;
}

.jumbotron h1 {
  font-size: 52px;
}

.jumbotron p {
  font-family: sans-serif;
  font-size: 16px;
}

.jumbotron h2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.description {
  white-space: pre-wrap;
  width: 70%;
  height: 90%;
  border: none;
  border-radius: none;
  padding-left: 10px;
}

.row {
  white-space: pre-wrap;
  height: 70px;
  font-size: 16px;
  font-family: sans-serif;
}

.hour {
  width: 15%;
  height: 90%;
  font-family: sans-serif;
  color: white;
  background-color: #287bff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

time {
  text-align: center;
  padding-top: 24px;
  font-size: 14px;
  font: #000000;
}

.past {
  background-color: #383d45;
  color: #a8a8a8;
  border-top: solid 0.5px #696969;
  border-bottom: solid 0.5px #696969;
}

.present {
  background-color: #e0e0e0;
  color: #383d45;
  border-top: solid 0.2px #a8a8a8;
  border-bottom: solid 0.2px #a8a8a8;
}

.future {
  background-color: white;
  color: #383d45;
  border-top: solid 0.2px;
  border-bottom: solid 0.2px;
  border-color: #cacaca;
}

.saveBtn {
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #287bff;
  background-image: url(../assets/images/plus-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  width: 15%;
  height: 90%;
}

/* allows custom fonts to display on mobile browsers */
@font-face {
  font-family: "A Pompadour Sample";
  src: url("../assets/fonts/APompadourSample.ttf");
}
